.container {
  width: 100%;
  min-height: 100vh;
}

.flexrow {
  display: flex;
  justify-content: space-between;
}

.carrossel {
  margin-left: 20px;
  width: 70%;
  height: 85vh;
}

.coluna {
  width: 25%;
}

.imagem {
  max-width: 90%;
  max-height: 90vh;
}

.link {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  margin: 1em 0;
  text-decoration: underline;
}
