.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverImg {
  max-width: 350px;
  height: 250px;
  margin-bottom: 0.5em;
}

.coverImg:hover {
  border: teal 1px solid;
}

.textCenter {
  text-align: center;
}
