.container {
  width: 400px;
  z-index: 1;
  border-radius: 10px;
  margin-bottom: 1em;
}

.level {
  background-color: rgb(4, 163, 163);
  z-index: 2;
  border-radius: 10px;
  height: 1.5rem;
}

.tech {
  padding-left: 1em;
  color: azure;
}
